body{
    margin: 0;
}

.main-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    min-height: 101vh;
    
    width: 100%;

}

.contacts-list{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-content: start;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.main-avatar {
  text-align: center;
  width: 68px;
  height: 68px;
  border-radius: 10px;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.no-contacts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    height: 100vh;
    text-align: center;

}
.main-heading {
    text-align: center;
    color:rgb(113, 9, 239);
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}
.main-paragraph {
    text-align: center;
    color: gray;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 500px; /* control size */
  display: flex;
  flex-direction: column;
  justify-self:center;

}

.search-input {
  width: 100%;
  padding: 10px 15px 10px 40px; /* left padding for icon space */
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

.search-input:focus {
  border-color: #4f46e5; /* nice indigo */
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none; /* prevent blocking typing */
}


.pagination-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.page-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background: #f1f1f1;
  cursor: pointer;
  transition: background 0.2s;
}

.page-btn:hover:not(:disabled) {
  background: #e0e0e0;
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-btn.active {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-weight: bold;
}

.pagination-info {
  text-align: center;
  margin-top: 8px;
  color:gray;
  font-size: 17px;
}

/* Floating Button */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #7c4dff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.modal-actions button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal-actions button:last-child {
  background: #7c4dff;
  color: #fff;
}
.floating-btn:hover {
  background: #651fff;
  box-shadow: 0px 6px 14px rgba(0,0,0,0.3);
   transform: scale(1.2);
}
.total-contacts-box{
  padding: 10px 15px 10px 40px; /* left padding for icon space */
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
    padding: 10px 15px;
    margin: 20px auto;
}
.total{
    color: gray;

    font-size: 22px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 0;
}
.span{
    color: #4f46e5;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 0;

}
.search-total-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 900px;
   /* control size */
    margin: 0 auto 20px auto;
}