.no-contacts-icon-container{
    background-color: rgb(241, 239, 239);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-contacts-heading{
    text-align: center;
    color:gray;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}
.no-contacts-description{
    text-align: center;
    color: gray;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}